params {
    mouse = 's3://ngi-igenomes/igenomes/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa'
    human = 's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta'
    reads = 's3://sra-pub-run-odp/sra/SRR891274/SRR891274'
}

profiles {
    scidev {
        outdir = 's3://scidev-eu-west-1/robsyme/genomes/xenome'
    }
    ireland {
        mouse = 's3://scidev-eu-west-1/robsyme/genomes/mm39.fa'
        human = 's3://scidev-eu-west-1/robsyme/genomes/hg38.fa'
        reads = 's3://scidev-eu-west-1/robsyme/reads/SRR891274'
    }
}
